<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="ice_cream_v4.SLDASM">
  <link
    name="link0">
    <inertial>
      <origin
        xyz="0.12562045375134 0.130649979636535 0.0424247553275279"
        rpy="0 0 0" />
      <mass
        value="1.19489664900539" />
      <inertia
        ixx="0.00494800558466651"
        ixy="2.32804416690283E-07"
        ixz="2.1956440853991E-07"
        iyy="0.00527852381114659"
        iyz="-0.000227508420565635"
        izz="0.00856663809224819" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ice_cream_v4.SLDASM/meshes/link0.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ice_cream_v4.SLDASM/meshes/link0.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="8.35032309076666E-07 -0.000387617706610092 0.00329169475658608"
        rpy="0 0 0" />
      <mass
        value="0.189832654636698" />
      <inertia
        ixx="7.01386288071663E-05"
        ixy="-2.71975900701172E-08"
        ixz="-5.3176491463202E-10"
        iyy="0.000145070237898676"
        iyz="-9.83683378052095E-06"
        izz="0.000149368681624301" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ice_cream_v4.SLDASM/meshes/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ice_cream_v4.SLDASM/meshes/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="continuous">
    <origin
      xyz="0.125 0.125 0.1055"
      rpy="0 0 0" />
    <parent
      link="link0" />
    <child
      link="link1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0.1" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="0.0787774892671268 0.0784309553080349 0.0270775246902961"
        rpy="0 0 0" />
      <mass
        value="0.5621871932262" />
      <inertia
        ixx="0.00132772910608749"
        ixy="-0.00130168553650758"
        ixz="-1.0183699483268E-08"
        iyy="0.00173315384377229"
        iyz="1.3847486665605E-08"
        izz="0.00291527293087798" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ice_cream_v4.SLDASM/meshes/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ice_cream_v4.SLDASM/meshes/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="continuous">
    <origin
      xyz="0.0276 0.02 0.0589"
      rpy="1.5708 0 -1.5708" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0.1" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="-0.097805395116776 0.0317827487932699 -0.027039644710942"
        rpy="0 0 0" />
      <mass
        value="0.5425457575637" />
      <inertia
        ixx="0.00108516659035972"
        ixy="0.00101288108350852"
        ixz="1.71767016326354E-08"
        iyy="0.00146564468575668"
        iyz="1.07899681057246E-08"
        izz="0.00239159212536702" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ice_cream_v4.SLDASM/meshes/link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ice_cream_v4.SLDASM/meshes/link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="continuous">
    <origin
      xyz="0.2301 0.22039 2.5E-05"
      rpy="3.1416 0 -0.80696" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0.1" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="-0.0241087324155513 -0.000152673926980124 -0.0236488641606671"
        rpy="0 0 0" />
      <mass
        value="0.237984912790182" />
      <inertia
        ixx="0.000135583687385593"
        ixy="-8.14264489573747E-07"
        ixz="-1.26053404045704E-09"
        iyy="0.000207316847039799"
        iyz="4.20436273865997E-08"
        izz="0.00014867633868917" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ice_cream_v4.SLDASM/meshes/link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ice_cream_v4.SLDASM/meshes/link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="continuous">
    <origin
      xyz="-0.25632 0.15654 -0.0032"
      rpy="0 0 -0.80696" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0.1" />
  </joint>
  <link
    name="link5">
    <inertial>
      <origin
        xyz="0.00238884667852846 -0.0121610833620511 0.0433603237885457"
        rpy="0 0 0" />
      <mass
        value="0.182394789734618" />
      <inertia
        ixx="9.97480031485989E-05"
        ixy="9.04125614745354E-06"
        ixz="-1.76269221055036E-06"
        iyy="0.000170392560639141"
        iyz="1.25883408488176E-05"
        izz="0.000216280340891141" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ice_cream_v4.SLDASM/meshes/link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ice_cream_v4.SLDASM/meshes/link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="continuous">
    <origin
      xyz="-0.099648 -0.011424 -0.0245"
      rpy="3.1223 -1.5708 0" />
    <parent
      link="link4" />
    <child
      link="link5" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0.1" />
  </joint>
  <link
    name="fingerlink_R">
    <inertial>
      <origin
        xyz="0.00135856705566337 0.00788196749272896 -0.00970665913680069"
        rpy="0 0 0" />
      <mass
        value="0.0404058957986075" />
      <inertia
        ixx="1.22950421752594E-05"
        ixy="1.26216943382242E-07"
        ixz="1.48061943892849E-08"
        iyy="1.05866193249968E-05"
        iyz="-1.31236144076966E-06"
        izz="1.47069514069606E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ice_cream_v4.SLDASM/meshes/fingerlink_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ice_cream_v4.SLDASM/meshes/fingerlink_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FINGER_RIGHT"
    type="prismatic">
    <origin
      xyz="0.023822 -0.00228 0.0871"
      rpy="1.5708 0 -1.5708" />
    <parent
      link="link5" />
    <child
      link="fingerlink_R" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="fingerlink_L">
    <inertial>
      <origin
        xyz="0.00786950821511173 -0.00135990732930491 -0.00970665914813451"
        rpy="0 0 0" />
      <mass
        value="0.0404058958000485" />
      <inertia
        ixx="1.05866193072039E-05"
        ixy="-1.26223128475295E-07"
        ixz="-1.31236145136589E-06"
        iyy="1.22950421489113E-05"
        iyz="-1.48061920056705E-08"
        izz="1.47069514380754E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ice_cream_v4.SLDASM/meshes/fingerlink_L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ice_cream_v4.SLDASM/meshes/fingerlink_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FINGER_L"
    type="prismatic">
    <origin
      xyz="-0.016178 -0.00228 0.08725"
      rpy="0 -1.5708 0" />
    <parent
      link="link5" />
    <child
      link="fingerlink_L" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>