<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="ice_cream_v7.SLDASM">
  <link
    name="link0">
    <inertial>
      <origin
        xyz="0.006653 7.7404E-06 0.018582"
        rpy="0 0 0" />
      <mass
        value="0.85505" />
      <inertia
        ixx="0.0044341"
        ixy="-2.1764E-07"
        ixz="-0.00021613"
        iyy="0.0041049"
        iyz="-2.0859E-07"
        izz="0.0070083" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ice_cream_v7_description/meshes/link0.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ice_cream_v7_description/meshes/link0.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link1">
    <inertial>
      <origin
        xyz="-0.00061381 -1.0396E-06 -0.0069021"
        rpy="0 0 0" />
      <mass
        value="0.15247" />
      <inertia
        ixx="8.9123E-05"
        ixy="2.7197E-08"
        ixz="-4.856E-06"
        iyy="5.0597E-05"
        iyz="5.3181E-10"
        izz="9.7523E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ice_cream_v7_description/meshes/link1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ice_cream_v7_description/meshes/link1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint1"
    type="continuous">
    <origin
      xyz="0 0 0.102"
      rpy="0 0 0" />
    <parent
      link="link0" />
    <child
      link="link1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0.1" />
  </joint>
  <link
    name="link2">
    <inertial>
      <origin
        xyz="0.10722 -0.0018589 -0.030824"
        rpy="0 0 0" />
      <mass
        value="0.45372" />
      <inertia
        ixx="0.0001711"
        ixy="-0.00010249"
        ixz="-1.5254E-09"
        iyy="0.0020122"
        iyz="1.7078E-08"
        izz="0.0020706" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ice_cream_v7_description/meshes/link2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ice_cream_v7_description/meshes/link2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint2"
    type="continuous">
    <origin
      xyz="0.02 -0.03155 0.0554"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="link1" />
    <child
      link="link2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0.1" />
  </joint>
  <link
    name="link3">
    <inertial>
      <origin
        xyz="0.083973 0.043599 -0.030727"
        rpy="0 0 0" />
      <mass
        value="0.41304" />
      <inertia
        ixx="0.00019355"
        ixy="-0.00014868"
        ixz="-1.7934E-08"
        iyy="0.001444"
        iyz="8.5035E-10"
        izz="0.0015239" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ice_cream_v7_description/meshes/link3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ice_cream_v7_description/meshes/link3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint3"
    type="continuous">
    <origin
      xyz="0.31862 0 -2.5E-05"
      rpy="0 0 0" />
    <parent
      link="link2" />
    <child
      link="link3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0.1" />
  </joint>
  <link
    name="link4">
    <inertial>
      <origin
        xyz="0.021722 -0.0003305 -0.026959"
        rpy="0 0 0" />
      <mass
        value="0.21182" />
      <inertia
        ixx="0.00010571"
        ixy="3.9891E-07"
        ixz="9.4455E-10"
        iyy="0.0001554"
        iyz="-4.1969E-08"
        izz="0.00011917" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ice_cream_v7_description/meshes/link4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ice_cream_v7_description/meshes/link4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint4"
    type="revolute">
    <origin
      xyz="0.29035 0.076833 -0.00365"
      rpy="0 0 0" />
    <parent
      link="link3" />
    <child
      link="link4" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0.1" />
  </joint>
  <link
    name="link5">
    <inertial>
      <origin
        xyz="0.020358 0.0048594 0.049641"
        rpy="0 0 0" />
      <mass
        value="0.27546" />
      <inertia
        ixx="0.00027277"
        ixy="-6.2974E-06"
        ixz="-9.5013E-06"
        iyy="8.1899E-05"
        iyz="-1.3203E-06"
        izz="0.00030663" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ice_cream_v7_description/meshes/link5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ice_cream_v7_description/meshes/link5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint5"
    type="revolute">
    <origin
      xyz="0.09985 0.0095 -0.028"
      rpy="1.5708 0 1.5708" />
    <parent
      link="link4" />
    <child
      link="link5" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0.1" />
  </joint>
  <link
    name="fingerlink_R">
    <inertial>
      <origin
        xyz="0.00095482 0.00024245 -0.01282"
        rpy="0 0 0" />
      <mass
        value="0.052599" />
      <inertia
        ixx="1.0536E-05"
        ixy="8.8324E-08"
        ixz="1.4557E-08"
        iyy="1.0217E-05"
        iyz="-9.1822E-07"
        izz="1.1327E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ice_cream_v7_description/meshes/fingerlink_R.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ice_cream_v7_description/meshes/fingerlink_R.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FINGER_RIGHT"
    type="prismatic">
    <origin
      xyz="0.00228 0.0425 0.0871"
      rpy="1.5708 0 0" />
    <parent
      link="link5" />
    <child
      link="fingerlink_R" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0.045"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="fingerlink_L">
    <inertial>
      <origin
        xyz="-0.00096275 -0.00016876 -0.01282"
        rpy="0 0 0" />
      <mass
        value="0.052599" />
      <inertia
        ixx="1.0536E-05"
        ixy="8.8372E-08"
        ixz="-1.4557E-08"
        iyy="1.0217E-05"
        iyz="9.1822E-07"
        izz="1.1327E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ice_cream_v7_description/meshes/fingerlink_L.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.69804 0.69804 0.69804 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ice_cream_v7_description/meshes/fingerlink_L.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="FINGER_L"
    type="prismatic">
    <origin
      xyz="0.00228 -0.0425 0.08725"
      rpy="-1.5708 0 0" />
    <parent
      link="link5" />
    <child
      link="fingerlink_L" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0.045"
      effort="0"
      velocity="0" />
  </joint>
</robot>